body {
    background-color: #ccc;
    font-family: Helvetica, sans-serif;
    color:gray;
    margin-top: 200px;
}

h1 {
    margin: 15px 0;
    color: black;
}

.img-container {
    height: 50px;
    width: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}